.change-password {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.change-password .div-2 {
  background-color: #ffffff;
  height: 800px;
  position: relative;
  width: 1280px;
}

.change-password .overlap {
  height: 800px;
  left: 0;
  position: absolute;
  top: 0;
  width: 624px;
}

.change-password .group {
  height: 58px;
  left: 69px;
  position: absolute;
  top: 51px;
  width: 180px;
}

.change-password .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 34px;
  font-weight: 500;
  left: 119px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 213px;
}

.change-password .rectangle {
  height: 800px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 624px;
}

.change-password .overlap-group {
  background-image: url(../../../static/img/rectangle-2880.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 800px;
  left: 624px;
  position: absolute;
  top: 0;
  width: 656px;
}

.change-password .footer-instance {
  background-color: transparent !important;
  left: 43px !important;
  position: absolute !important;
  top: 696px !important;
  width: 491px !important;
}

.change-password .design-component-instance-node {
  font-family: "Inter", Helvetica !important;
}

.change-password .footer-2 {
  color: #e85122 !important;
  font-family: "Inter", Helvetica !important;
}

.change-password .group-2 {
  height: 414px;
  left: 79px;
  position: absolute;
  top: 127px;
  width: 378px;
}

.change-password .form {
  border: 1px solid;
  border-color: var(--color-grey-4);
  border-radius: 4px;
  height: 55px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 288px;
  width: 376px;
}

.change-password .placeholder-instance {
  left: 24px !important;
  top: 16px !important;
  width: 284px !important;
}

.change-password .placeholder-2 {
  width: 284px !important;
}

.change-password .form-2 {
  border: 1px solid;
  border-color: var(--color-grey-4);
  border-radius: 4px;
  height: 43px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 124px;
  width: 94px;
}

.change-password .placeholder-3 {
  left: 36px !important;
  position: absolute !important;
  top: 11px !important;
  width: 45px !important;
}

.change-password .placeholder-4 {
  width: 45px !important;
}

.change-password .left-arrow {
  height: 20px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.change-password .overlap-group-2 {
  height: 42px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 366px;
}

.change-password .text-wrapper-4 {
  color: var(--color-grey-2);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 22.4px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
  width: 366px;
}

.change-password .input-label-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.change-password .input-label-2 {
  left: 0 !important;
  position: absolute !important;
  top: 257px !important;
}

.change-password .logo {
  height: 78px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 190px;
}

.change-password .line {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 88px;
  width: 376px;
}

.change-password .secondary-color {
  background-color: #e85122 !important;
  border-radius: 4px !important;
  display: flex !important;
  height: 42px !important;
  justify-content: center !important;
  left: 0 !important;
  position: absolute !important;
  top: 372px !important;
  width: 376px !important;
}

.change-password .primary-color-instance {
  margin-bottom: -5.5px !important;
  margin-top: -7.5px !important;
}
