.input-label {
  height: 23px;
  position: relative;
  width: 87px;
}

.input-label .label {
  color: var(--color-grey-2);
  font-family: var(--text-normal-bold-font-family);
  font-size: var(--text-normal-bold-font-size);
  font-style: var(--text-normal-bold-font-style);
  font-weight: var(--text-normal-bold-font-weight);
  left: 0;
  letter-spacing: var(--text-normal-bold-letter-spacing);
  line-height: var(--text-normal-bold-line-height);
  position: absolute;
  top: -1px;
  white-space: nowrap;
}
